@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-reverse {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.clip-border {
  background-image: url(../img/home/left-top.svg), url(../img/home/right-top.svg),
    url(../img/home/right-bottom.svg), url(../img/home/left-bottom.svg);
  background-position: left top, right top, right bottom, left bottom;
  background-repeat: no-repeat;
}
